
<div class="nav">
  <div class="user-image toolbar">
    <div class="btn-group btn-avatar-user">
      <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true">
        <img src="/img/avatar/{{user.avatar}}" alt="avatar default" class="imageId" id="avatar-by-user">
        <div class="check-status"></div>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" id="button-user" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-user-circle" ></i><span>Tài khoản</span></button>
        <hr>
        <button class="dropdown-item" type="button" id="button-setup" data-toggle="modal" data-target="#modal-setup"><i class="fas fa-cogs"></i><span>Cài đặt</span></button>
        <hr>
        <a class="dropdown-item" href="/logout" style="color: red;"><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a>
      </div>
    </div>
  </div>
  <div class="message toolbar">
    <button class="btn-content-chat item"><i class="fas fa-comment-dots"></i></button><span class="badge badge-danger notification-badge one"></span>
  </div>
  <div class="phonebook toolbar">
    <button class="btn-list-friend item" data-id ="{{user._id}}"><i class="far fa-address-book"></i></button><span class="badge badge-danger notification-badge two notification-list-friend-contact"></span>
  </div>
  <div class="notification toolbar">
    {{#ifCond countNotiUnread '!==' 0}}
    <button class="btn-notification item"><i class="far fa-bell"></i></button><span class="badge badge-danger notification-badge three notification-message-badge">{{{countNotiUnread}}}</span>
    {{else}}
    <button class="btn-notification item"><i class="far fa-bell"></i></button><span class="badge badge-danger notification-badge three notification-message-badge"></span>
    {{/ifCond}}
  </div>
</div>

<!-- Modal User information -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật thông tin tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="information-user">
          <div class="row1">
            <img src="/img/Background-default.jpg" alt="">
          </div>
          <input type="file" name="profile-avatar" id="profileAvatarPicker" class="inputfile" style="display: none;">
          <div class="avatar-update">
            <div class="edit-avatar" id="edit-avatar" >
              <img src="/img/avatar/{{user.avatar}}" alt="avatar" class="imageUser" id="imageUserid">
            </div>
            <span><button type="button" class="button-update-avatar" id="button-update-avatar"><i class="fas fa-camera-retro"></i></button></span>
          </div>
          <div class="username-update">
            <input type="text" value="{{user.username}}" id="edit-username" name="username">
          </div>
          <div class="row2">
            <div class="telephone-update">
              <label for="phone"><strong>Số điện thoại: </strong></label><input type="text" value="{{user.phone}}" name="phone" class="input-update" id="input-phone-update">
            </div>
            <div class="gender-update">
              <label for=""><strong>Giới tính: </strong></label>
              <input type="radio" value="male" name="gender" id="edit-gender-male" {{isChecked user.gender "male"}}> Nam
              <input type="radio" value="female" name="gender" id="edit-gender-female" {{isChecked user.gender "female"}}> Nữ
            </div>
            <div class="address-update">
              <label for="address"><strong>Địa chỉ: </strong></label><textarea type="text" value="{{user.address}}" name="address" rows="2" class="input-update" id="edit-address-update"></textarea>
            </div>
          </div>
          <div class="alert alert-danger message-warning alert-errors" role="alert">
            <span>This is a danger alert—check it out!</span> 
          </div>
          <div class="alert alert-success message-warning alert-success" role="alert">
            <span>This is a danger alert—check it out!</span> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="button-cancel-update-info">Hủy bỏ</button>
        <button type="button" class="btn btn-primary" id="button-update-info">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

{{>modal-setup}}
<script src="/javascript/jquery.js"></script>
