
<div class="nav">
  <div class="user-image toolbar">
    <div class="btn-group">
      <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true"><img src="/img/avatar/{{user.avatar}}" alt="avatar default" class="imageId" ></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" id="button-user" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-user-circle" ></i><span>Tài khoản</span></button>
        <hr>
        <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i><span>Cài đặt</span></a>
        <hr>
        <a class="dropdown-item" href="/logout" style="color: red;"><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a>
      </div>
    </div>
  </div>
  <div class="message toolbar">
    <a href="" class="item"><i class="fas fa-comment-dots"></i></a>
  </div>
  <div class="phonebook toolbar">
    <a href="" class="item"><i class="far fa-address-book"></i></a>
  </div>
  <div class="notification toolbar">
    <a href="" class="item"><i class="far fa-bell"></i></a>
  </div>
</div>



<!-- Modal User information -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật thông tin tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="information-user">
          <div class="row1">
            <img src="/img/Background-default.jpg" alt="">
          </div>
          <input type="file" name="profile-avatar" id="profileAvatarPicker" class="inputfile" style="display: none;">
          <div class="avatar-update">
            <div class="edit-avatar" id="edit-avatar" >
              <img src="/img/avatar/{{user.avatar}}" alt="avatar" class="imageUser" id="imageUserid">
            </div>
            <span><button type="button" class="button-update-avatar" id="button-update-avatar"><i class="fas fa-camera-retro"></i></button></span>
          </div>
          <div class="username-update">
            <input type="text" value="{{user.username}}" id="edit-username">
          </div>
          <div class="row2">
            <div class="telephone-update">
              <label for="phone">Số điện thoại: </label><input type="text" value="+84{{user.phone}}" name="phone" class="input-update" id="input-phone-update">
            </div>
            <div class="gender-update">
              <label for="">Giới tính: </label>
              <input type="radio" value="male" name="gender" id="edit-gender-male" {{isChecked user.gender "male"}}> Nam
              <input type="radio" value="female" name="gender" id="edit-gender-female" {{isChecked user.gender "female"}}> Nữ
            </div>
            <div class="address-update">
              <label for="address">Địa chỉ: </label><textarea type="text" value="{{user.address}}" name="address" rows="2" class="input-update" id="edit-address-update"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="button-cancel-update-info">Hủy bỏ</button>
        <button type="button" class="btn btn-primary" id="button-update-info">Cập nhật</button>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/jquery.js"></script>
