<div class="modal fade" id="information-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thông tin tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="information-user">
          <div class="row1">
            <img src="/img/Background-default.jpg" alt="">
          </div>
          <input type="file" name="profile-avatar" id="profileAvatarPicker" class="inputfile" style="display: none;">
          <div class="avatar-update">
            <div class="edit-avatar" id="edit-avatar">
              <img src="/img/avatar/avatar-default.jpg" alt="avatar" class="imageUser" id="imageUserid">
            </div>
          </div>
          <div class="username-update">
            <input type="text" value="{{friendContact.username}}" id="show-username" name="username">
          </div>
          <div class="row2">
            <div class="telephone-update">
              <label for="phone"><strong>Số điện thoại: </strong></label><input type="text" value="{{friendContact.phone}}"
                name="phone" class="input-update" id="show-phone">
            </div>
            <div class="gender-update">
              <label for=""><strong>Giới tính: </strong></label>
              <input type="radio" value="male" name="gender" id="edit-gender-male" {{isChecked friendContact.gender "male" }}>
              Nam
              <input type="radio" value="female" name="gender" id="edit-gender-female" {{isChecked friendContact.gender "female"
                }}> Nữ
            </div>
            <div class="address-update">
              <label for="address"><strong>Địa chỉ: </strong></label><textarea type="text" value="{{friendContact.address}}"
                name="address" rows="2" class="input-update" id="edit-address-update"></textarea>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>