<div class="list-friend text-center p-t-3" style="display: none;" id="list-friend-id">
  <div class="title-list-friend" style="text-align: center;">
    <h6>Bạn bè</h6>
  </div>
  <ul class="list-friend-ul">
    {{#each friendContacts as |friendContact|}}
    <li class="list-friend-li" data-id="{{friendContact._id}}" id="list-friend-li">
      <div class="image-contact-item">
        <img id="image-item" src="/img/avatar/{{friendContact.avatar}}" alt="image">
        <h6 class="p-username">{{friendContact.username}}</h6>
      </div>
      <div class="more-option">
        <div class="dropdown">
          <button class="btn btn-outline " type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item info-contact-user" data-id="{{friendContact._id}}" type="button" id="button-user" data-toggle="modal" data-target="#information-contact">Xem thông tin</button>
            <hr style="witch: 90%">
            <button class="dropdown-item btn-delete-contact" type="button" data-id="{{friendContact._id}}" id="btn-delete-contact">Xóa bạn</button>
          </div>
        </div>
      </div>
      <div class="status-contact-item"></div>
    </li>
    {{/each}}
  </ul>
</div>
{{>infomation-contact}}