<div id="add-someone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  class="modal fade text-left">
  <div role="document" class="modal-dialog">
    <div class="modal-content modal-add-people">
      <div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
        <div class="tabs active" id="tab01">
          <h6 class="font-weight-bold">Tìm bạn bè</h6>
        </div>
        <div class="tabs" id="tab02">
          <h6 class="text-muted" data-button="2">Đang chờ xác nhận<span class="badge badge-info badge-notification number-noti-confirm" data-button="2"></span></h6>
        </div>
        <div class="tabs" id="tab03">
          <h6 class="text-muted" data-button="3">Yêu cầu kết bạn<span class="badge badge-danger badge-notification number-noti-sent" data-button="3"></span></h6>
        </div>
      </div>
      <div class="line"></div>
      <div class="modal-body p-0">
        <fieldset class="show" id="tab011">
          <div class="bg-light m-b-4">
            <div class="input-group m-2 border rounded-pill p-1" style="width: 470px;">
              <input type="search" placeholder="Nhập email hoặc tên người dùng ..." aria-describedby="button-addon3"
                class="form-control bg-none border-0 m-l-1" id="input-keyword">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-link text-success button-find-user">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <hr>
          <div class="px-3" id="px-3"></div>
        </fieldset>
        <fieldset id="tab021">
          <div class="bg-light load-all-request-contact">
          </div>
        </fieldset>
        <fieldset id="tab031">
          <div class="bg-light content-request-contact">
            {{#if userRequestSenders}}
            {{#each userRequestSenders as |item|}}
            <div class="User-Request-Border" data-id="{{item._id}}">
              <div class="infor-user-request">
                <img src="/img/avatar/{{item.avatar}}" alt="">
                <h6>{{item.username}}</h6>
              </div>
              <div class="button-request-handling">
                <button type="button" class="btn btn-primary accept-request-contact btn-design" id="accept-request-contact" data-id="{{item._id}}" >Đồng ý</button>
                <button type="button" class="btn btn-cancel-request-contact" id="btn-cancel-request-contact" data-id="{{item._id}}"><i class="fas fa-times-circle"></i></button>
              </div>
            </div>
            {{/each}}
            {{/if}}
          </div>
        </fieldset>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>